<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Candidato</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/img/favicon.svg" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/newuser.css" rel="stylesheet" />
</head>
<body>
<div class="content" >
    <header>
        <nav>
            <img src="/img/logosup.svg" alt="Workflix Logo"/>
        </nav>
    </header>

    <div id="forms">
        <form action="#" th:action="@{/user/salvar}" th:method="POST">
            <h1>Cadastrar currículo</h1>
                <div class="form-group">
                    <fieldset>
                    <label id="textcolor" >Nome:</label>
                    <input type="text" th:field="${usuario.nome}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >sobreNome:</label>
                    <input type="text" th:field="${usuario.sobrenome}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >cpf:</label>
                    <input type="text" th:field="${usuario.cpf}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >senha:</label>
                    <input type="password" th:field="${usuario.senha}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >data:</label>
                    <input type="date" th:field="${usuario.dataNascimento}" placeholder="Digite seu nome">
                    <br>
                    <label><img src="/img/telephone.svg"></label>
                    <input type="text" th:field="${usuario.telefone}" placeholder="Digite o telefone">
                    <br>
                    <label><img src="/img/cellphone.svg"></label>
                    <input type="text" th:field="${usuario.celular}"placeholder="Digite o celular">
                    <br>
                    <label><img src="/img/e-mail.svg"></label>
                    <input type="text" th:field="${usuario.email}" placeholder="Digite o e-mail">
                    <br>
                    <label><img src="/img/linkedin-forms.svg"></label>
                    <input type="text" th:field="${usuario.linkedin}" placeholder="Digite o linkedin">
                    <br>
                <div class="form-group">
                    <label id="textcolor" >Rua:</label>
                    <input type="text" th:field="${endereco.logradouro}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >numero:</label>
                    <input type="text" th:field="${endereco.numero}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >bairro:</label>
                    <input type="text" th:field="${endereco.bairro}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >cidade:</label>
                    <input type="text" th:field="${endereco.cidade}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >bairro:</label>
                    <input type="text" th:field="${endereco.bairro}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >cep:</label>
                    <input type="text" th:field="${endereco.cep}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >uf:</label>
                    <input type="text" th:field="${endereco.uf}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >uf:</label>
                    <input type="text" th:field="${endereco.uf}" placeholder="Digite seu nome">
                    <br>
                </div>
                <div class="form-group">
                    <label id="textcolor" >instituição:</label>
                    <input type="text" th:field="${formacao.instituicao}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >curso:</label>
                    <input type="text" th:field="${formacao.curso}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >nivel:</label>
                    <input type="text" th:field="${formacao.nivel}" placeholder="Digite seu nome">
                    <br>
                    <br>
                    <label id="textcolor" >Data Inicio:</label>
                    <input type="date" th:field="${formacao.nivel}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Data saida:</label>
                    <input type="date" th:field="${formacao.dataTermino}" placeholder="Digite seu nome">
                    <br>
                </div>
                <div class="form-group">
                    <label id="textcolor" >empresa:</label>
                    <input type="text" th:field="${experiencia.empresa}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >cargo:</label>
                    <input type="text" th:field="${experiencia.cargo}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Atividade:</label>
                    <input type="text" th:field="${experiencia.atividades}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Data Inicio:</label>
                    <input type="date" th:field="${experiencia.dataInicio}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Data saida:</label>
                    <input type="date" th:field="${experiencia.dataTermino}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >empresa:</label>
                    <input type="text" th:field="${experiencia.empresa}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >cargo:</label>
                    <input type="text" th:field="${experiencia.cargo}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Atividade:</label>
                    <input type="text" th:field="${experiencia.atividades}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Data Inicio:</label>
                    <input type="date" th:field="${experiencia.dataInicio}" placeholder="Digite seu nome">
                    <br>
                    <label id="textcolor" >Data saida:</label>
                    <input type="date" th:field="${experiencia.dataTermino}" placeholder="Digite seu nome">
                    <br>
                </div>
                <!--
                <label><img src="/img/github-forns.svg"></label>
                <input type="text" name="turma" id="github" className="nome" placeholder="Digite o github">
                <br>
                <label><img src="/img/facebook-forms.svg"></label>
                <input type="text" name="turma" id="facebook" className="nome" placeholder="Digite o facebook">
                <br>


                </fieldset>
                <fieldset>

                </fieldset>
                -->
            </fieldset>
            <button type="submit">Adicionar</button>
        </form>
    </div>
    </main>
    <footer>
        <nav>
            <img src="/img/logoinf.svg" alt="">
            <dl id="institucional">
                <dt>Institucional</dt>
                <dd><a href="/sobre">Quem somos</a></dd>
                <dd><a href="/negocio">Nosso negócio</a></dd>
                <dd><a href="/vagas">Trabalhe conosco</a></dd>
            </dl>
            <dl id="empresa">
                <dt>Empresa</dt>
                <dd>Buscar</dd>
                <dd><a href="/contato">Contato</a></dd>
                <dd class="sr-only">aa</dd>
            </dl>
            <dl id="candidato">
                <dt>Candidato</dt>
                <dd><a href="/help">Ajuda</a></dd>
                <dd><a href="/funciona">Como Funciona</a></dd>
                <dd><a href="/user/login">portal do Candidato</a></dd>
            </dl>
        </nav>
    </footer>
</div>
</body>
</html>